USE [nba_analytics]
GO
/****** Object:  Table [nba].[dim_team]    Script Date: 1/2/2026 8:04:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [nba].[dim_team](
	[team_id] [int] IDENTITY(1,1) NOT NULL,
	[team_abbr] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[team_abbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [nba].[dim_player]    Script Date: 1/2/2026 8:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [nba].[dim_player](
	[player_id] [int] IDENTITY(1,1) NOT NULL,
	[player_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dim_player_player_name] UNIQUE NONCLUSTERED 
(
	[player_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [nba].[fact_player_daily_stats]    Script Date: 1/2/2026 8:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [nba].[fact_player_daily_stats](
	[stat_date] [date] NOT NULL,
	[player_id] [int] NOT NULL,
	[team_id] [int] NULL,
	[gp] [int] NULL,
	[min] [decimal](6, 2) NULL,
	[pts] [decimal](6, 2) NULL,
	[reb] [decimal](6, 2) NULL,
	[ast] [decimal](6, 2) NULL,
	[stl] [decimal](6, 2) NULL,
	[blk] [decimal](6, 2) NULL,
	[tov] [decimal](6, 2) NULL,
	[fg_pct] [decimal](6, 4) NULL,
	[fg3_pct] [decimal](6, 4) NULL,
	[ft_pct] [decimal](6, 4) NULL,
	[ts_pct] [decimal](6, 4) NULL,
	[bpm] [decimal](6, 3) NULL,
	[ws] [decimal](6, 3) NULL,
	[vorp] [decimal](6, 3) NULL,
	[source_name] [varchar](80) NULL,
	[loaded_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_fact_player_daily_stats] PRIMARY KEY CLUSTERED 
(
	[stat_date] ASC,
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [nba].[v_mvp_race_momentum]    Script Date: 1/2/2026 8:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [nba].[v_mvp_race_momentum]
AS
WITH dates AS (
    SELECT
        MAX(stat_date) AS latest_date,
        (
            SELECT MAX(stat_date)
            FROM nba.fact_player_daily_stats
            WHERE stat_date < (SELECT MAX(stat_date) FROM nba.fact_player_daily_stats)
        ) AS prev_date
    FROM nba.fact_player_daily_stats
),
base_latest AS (
    SELECT
        f.stat_date,
        p.player_name,
        t.team_abbr,
        f.gp, f.min, f.pts, f.reb, f.ast, f.stl, f.blk, f.tov
    FROM nba.fact_player_daily_stats f
    JOIN nba.dim_player p ON p.player_id = f.player_id
    LEFT JOIN nba.dim_team t ON t.team_id = f.team_id
    WHERE f.stat_date = (SELECT latest_date FROM dates)
      AND f.gp >= 15
      AND f.min >= 28
),
league_latest AS (
    SELECT
        AVG(CAST(pts AS float)) AS avg_pts, STDEV(CAST(pts AS float)) AS sd_pts,
        AVG(CAST(reb AS float)) AS avg_reb, STDEV(CAST(reb AS float)) AS sd_reb,
        AVG(CAST(ast AS float)) AS avg_ast, STDEV(CAST(ast AS float)) AS sd_ast,
        AVG(CAST(stl AS float)) AS avg_stl, STDEV(CAST(stl AS float)) AS sd_stl,
        AVG(CAST(blk AS float)) AS avg_blk, STDEV(CAST(blk AS float)) AS sd_blk,
        AVG(CAST(tov AS float)) AS avg_tov, STDEV(CAST(tov AS float)) AS sd_tov
    FROM base_latest
),
scored_latest AS (
    SELECT
        b.*,
        CAST(
            1.35*((b.pts - l.avg_pts) / NULLIF(l.sd_pts,0)) +
            0.95*((b.ast - l.avg_ast) / NULLIF(l.sd_ast,0)) +
            0.85*((b.reb - l.avg_reb) / NULLIF(l.sd_reb,0)) +
            0.55*((b.stl - l.avg_stl) / NULLIF(l.sd_stl,0)) +
            0.35*((b.blk - l.avg_blk) / NULLIF(l.sd_blk,0)) +
            0.50*((l.avg_tov - b.tov) / NULLIF(l.sd_tov,0))
        AS float) AS mvp_score_z
    FROM base_latest b
    CROSS JOIN league_latest l
),
base_prev AS (
    SELECT
        f.stat_date,
        p.player_name,
        t.team_abbr,
        f.gp, f.min, f.pts, f.reb, f.ast, f.stl, f.blk, f.tov
    FROM nba.fact_player_daily_stats f
    JOIN nba.dim_player p ON p.player_id = f.player_id
    LEFT JOIN nba.dim_team t ON t.team_id = f.team_id
    WHERE f.stat_date = (SELECT prev_date FROM dates)
      AND f.gp >= 15
      AND f.min >= 28
),
league_prev AS (
    SELECT
        AVG(CAST(pts AS float)) AS avg_pts, STDEV(CAST(pts AS float)) AS sd_pts,
        AVG(CAST(reb AS float)) AS avg_reb, STDEV(CAST(reb AS float)) AS sd_reb,
        AVG(CAST(ast AS float)) AS avg_ast, STDEV(CAST(ast AS float)) AS sd_ast,
        AVG(CAST(stl AS float)) AS avg_stl, STDEV(CAST(stl AS float)) AS sd_stl,
        AVG(CAST(blk AS float)) AS avg_blk, STDEV(CAST(blk AS float)) AS sd_blk,
        AVG(CAST(tov AS float)) AS avg_tov, STDEV(CAST(tov AS float)) AS sd_tov
    FROM base_prev
),
scored_prev AS (
    SELECT
        b.*,
        CAST(
            1.35*((b.pts - l.avg_pts) / NULLIF(l.sd_pts,0)) +
            0.95*((b.ast - l.avg_ast) / NULLIF(l.sd_ast,0)) +
            0.85*((b.reb - l.avg_reb) / NULLIF(l.sd_reb,0)) +
            0.55*((b.stl - l.avg_stl) / NULLIF(l.sd_stl,0)) +
            0.35*((b.blk - l.avg_blk) / NULLIF(l.sd_blk,0)) +
            0.50*((l.avg_tov - b.tov) / NULLIF(l.sd_tov,0))
        AS float) AS mvp_score_z
    FROM base_prev b
    CROSS JOIN league_prev l
),
rank_today AS (
    SELECT
        stat_date,
        player_name,
        team_abbr,
        mvp_score_z,
        DENSE_RANK() OVER (ORDER BY mvp_score_z DESC) AS rank_today
    FROM scored_latest
),
rank_yesterday AS (
    SELECT
        stat_date,
        player_name,
        team_abbr,
        mvp_score_z,
        DENSE_RANK() OVER (ORDER BY mvp_score_z DESC) AS rank_yesterday
    FROM scored_prev
)
SELECT
    t.stat_date,
    t.player_name,
    t.team_abbr,
    t.mvp_score_z,
    t.rank_today,
    y.rank_yesterday,
    CASE
        WHEN y.rank_yesterday IS NULL THEN NULL
        ELSE (y.rank_yesterday - t.rank_today)
    END AS rank_change
FROM rank_today t
LEFT JOIN rank_yesterday y
    ON y.player_name = t.player_name;
GO
/****** Object:  View [nba].[v_mvp_race_contenders]    Script Date: 1/2/2026 8:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [nba].[v_mvp_race_contenders]
AS
SELECT
    stat_date,
    player_name,
    team_abbr,
    mvp_score_z,
    rank_today,
    rank_yesterday,
    rank_change
FROM nba.v_mvp_race_momentum
WHERE rank_today <= 15;
GO
/****** Object:  View [nba].[v_mvp_race_latest]    Script Date: 1/2/2026 8:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [nba].[v_mvp_race_latest]
AS
WITH latest_day AS (
    SELECT MAX(stat_date) AS stat_date
    FROM nba.fact_player_daily_stats
),
base AS (
    SELECT
        f.stat_date,
        p.player_name,
        t.team_abbr,
        f.gp, f.min, f.pts, f.reb, f.ast, f.stl, f.blk, f.tov,
        f.ts_pct
    FROM nba.fact_player_daily_stats f
    JOIN latest_day ld ON ld.stat_date = f.stat_date
    JOIN nba.dim_player p ON p.player_id = f.player_id
    LEFT JOIN nba.dim_team t ON t.team_id = f.team_id
)
SELECT
    stat_date,
    player_name,
    team_abbr,
    gp, min, pts, reb, ast, stl, blk, tov, ts_pct,
    (
        (ISNULL(pts,0) * 1.00) +
        (ISNULL(reb,0) * 0.80) +
        (ISNULL(ast,0) * 0.90) +
        (ISNULL(stl,0) * 1.20) +
        (ISNULL(blk,0) * 1.20) -
        (ISNULL(tov,0) * 1.00) +
        (ISNULL(gp,0) * 0.05) +
        (CASE
            WHEN ts_pct IS NULL THEN 0
            ELSE (ts_pct - 0.55) * 20
         END)
    ) AS mvp_score
FROM base;
GO
/****** Object:  View [nba].[v_mvp_race_z_latest]    Script Date: 1/2/2026 8:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [nba].[v_mvp_race_z_latest]
AS
WITH latest AS (
    SELECT MAX(stat_date) AS stat_date
    FROM nba.fact_player_daily_stats
),
base AS (
    SELECT
        f.stat_date,
        p.player_name,
        t.team_abbr,
        f.gp,
        f.min,
        f.pts,
        f.reb,
        f.ast,
        f.stl,
        f.blk,
        f.tov
    FROM nba.fact_player_daily_stats f
    JOIN nba.dim_player p ON p.player_id = f.player_id
    LEFT JOIN nba.dim_team t ON t.team_id = f.team_id
    WHERE f.stat_date = (SELECT stat_date FROM latest)
      AND f.gp >= 15
      AND f.min >= 28
),
league AS (
    SELECT
        AVG(CAST(pts AS float)) AS avg_pts, STDEV(CAST(pts AS float)) AS sd_pts,
        AVG(CAST(reb AS float)) AS avg_reb, STDEV(CAST(reb AS float)) AS sd_reb,
        AVG(CAST(ast AS float)) AS avg_ast, STDEV(CAST(ast AS float)) AS sd_ast,
        AVG(CAST(stl AS float)) AS avg_stl, STDEV(CAST(stl AS float)) AS sd_stl,
        AVG(CAST(blk AS float)) AS avg_blk, STDEV(CAST(blk AS float)) AS sd_blk,
        AVG(CAST(tov AS float)) AS avg_tov, STDEV(CAST(tov AS float)) AS sd_tov
    FROM base
),
scored AS (
    SELECT
        b.*,
        (b.pts - l.avg_pts) / NULLIF(l.sd_pts,0) AS z_pts,
        (b.reb - l.avg_reb) / NULLIF(l.sd_reb,0) AS z_reb,
        (b.ast - l.avg_ast) / NULLIF(l.sd_ast,0) AS z_ast,
        (b.stl - l.avg_stl) / NULLIF(l.sd_stl,0) AS z_stl,
        (b.blk - l.avg_blk) / NULLIF(l.sd_blk,0) AS z_blk,
        (l.avg_tov - b.tov) / NULLIF(l.sd_tov,0) AS z_tov_good
    FROM base b
    CROSS JOIN league l
)
SELECT
    stat_date,
    player_name,
    team_abbr,
    gp, min, pts, reb, ast, stl, blk, tov,
    CAST(
        1.35*z_pts +
        0.95*z_ast +
        0.85*z_reb +
        0.55*z_stl +
        0.35*z_blk +
        0.50*z_tov_good
        AS float
    ) AS mvp_score_z
FROM scored;
GO
/****** Object:  Table [nba].[stg_player_daily_stats]    Script Date: 1/2/2026 8:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [nba].[stg_player_daily_stats](
	[stat_date] [date] NOT NULL,
	[player_name] [nvarchar](100) NOT NULL,
	[team_abbr] [varchar](10) NULL,
	[gp] [varchar](50) NULL,
	[min] [varchar](50) NULL,
	[pts] [varchar](50) NULL,
	[reb] [varchar](50) NULL,
	[ast] [varchar](50) NULL,
	[stl] [varchar](50) NULL,
	[blk] [varchar](50) NULL,
	[tov] [varchar](50) NULL,
	[fg_pct] [varchar](50) NULL,
	[fg3_pct] [varchar](50) NULL,
	[ft_pct] [varchar](50) NULL,
	[ts_pct] [varchar](50) NULL,
	[bpm] [varchar](50) NULL,
	[ws] [varchar](50) NULL,
	[vorp] [varchar](50) NULL,
	[source_name] [varchar](80) NULL,
	[loaded_at] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [nba].[fact_player_daily_stats] ADD  DEFAULT (sysutcdatetime()) FOR [loaded_at]
GO
ALTER TABLE [nba].[stg_player_daily_stats] ADD  DEFAULT (sysutcdatetime()) FOR [loaded_at]
GO
ALTER TABLE [nba].[fact_player_daily_stats]  WITH CHECK ADD  CONSTRAINT [FK_fact_player] FOREIGN KEY([player_id])
REFERENCES [nba].[dim_player] ([player_id])
GO
ALTER TABLE [nba].[fact_player_daily_stats] CHECK CONSTRAINT [FK_fact_player]
GO
ALTER TABLE [nba].[fact_player_daily_stats]  WITH CHECK ADD  CONSTRAINT [FK_fact_team] FOREIGN KEY([team_id])
REFERENCES [nba].[dim_team] ([team_id])
GO
ALTER TABLE [nba].[fact_player_daily_stats] CHECK CONSTRAINT [FK_fact_team]
GO
